---
layout: application
---

<!-- Container -->
<div class="vcard-container">

  <!-- Social buttons column -->      
  <div class="social-buttons">
    <a href="#blog"><div class="blog"><i class="fa fa-pencil"></i></div></a>
    <a target="_blank" href="https://web.facebook.com/rifky.ekayama"><div class="facebook"><i class="fa fa-facebook"></i></div></a>
    <a target="_blank" href="https://twitter.com/RifkyEkayama"><div class="twitter"><i class="fa fa-twitter"></i></div></a>
    <a target="_blank" href="http://id.linkedin.com/in/rifkyekayama"><div class="linkedin"><i class="fa fa-linkedin"></i></div></a>
    <a onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:rifqykiw1?call"><div class="skype"><i class="fa fa-skype"></i></div></a>
    <!-- <a target="_blank" href="https://instagram.com/rifkyekayama"><div class="instagram"><i class="fa fa-instagram"></i></div></a> -->
  </div>
  <!-- /Social buttons column -->
  
  <!-- Main column -->
  <div id="content" class="tab-container main-column">

    <!-- Top row -->
    {% include komponen/navigation.html %}
    <!-- /Top row -->

    <!-- Content -->
    <div class="content">
      <div class="panel-container">
        {% include komponen/home.html %}

        {% include komponen/about.html %}

        {% include komponen/resume.html %}

        {% include komponen/portfolio.html %}

        {% include komponen/contact.html %}

        {% include komponen/feedback.html %}

      </div>
    </div>
    <!-- /Content -->

    <!-- Footer -->
    <div id="footer">
      <div class="triangle"></div>
      <div class="copyright">© 2015 Rifky Ekayama. All rights reserved.</div>          
    </div>
    <!-- /Footer -->

    <div class="clear dividewhite6"></div>
  </div>
  <!-- /Main column -->

</div>
<!-- /Container -->


<!-- Back to Top -->
<div id="back-top"><a href="#top"></a></div>
<!-- /Back to Top -->
