---
layout: default
---

{% include section/about.html %}

{% include section/experience.html %}

{% include section/skills.html %}

{% include section/education.html %}

{% include section/services.html %}

{% include section/portfolios.html %}

{% include section/achievement.html %}

{% include section/publications.html %}

{% comment %}
{% include section/blog.html %}
{% endcomment %}

{% comment %}
{% include section/clients.html %}
{% endcomment %}

{% comment %}
{% include section/pricing.html %}
{% endcomment %}

{% include section/interest.html %}

{% include section/contact.html %}