<!--==========================================
					FOOTER
===========================================-->
<footer>
	<div class="container">
		<p class="text-center">
			© DECENT Material CV | Resume 2016. Designed by
			<a href="https://themeforest.net/user/ravelweb" target="_blank">
				<strong>Mohammad Asif | Ravelweb</strong>
			</a>
		</p>
	</div>
</footer>

<!-- Back To Top Button -->
<a href="#header" id="btp" class="back-to-top btn-floating waves-effect waves-light btn-large custom-btn">
	<i class="ion-ios-arrow-up"></i>
</a>

<!--==========================================
				COLOR SWITCHER
===========================================-->
<!-- <div class="switcher">
	<div class="switcher-btn custom-btn waves-effect waves-light text-center">
		<i class="ion-android-color-palette text-center"></i>
	</div>
	<div class="back custom-btn waves-effect waves-light text-center">
		<i class="ion-ios-arrow-right text-center"></i>
	</div>
	<div class="colors">
		<p class="text-center text-capitalize">Choose Your Favourite Color</p>
		<ul>
			<li id="color-red" class="color-btn"></li>
			<li id="color-pink" class="color-btn"></li>
			<li id="color-purple" class="color-btn"></li>
			<li id="color-deep-purple" class="color-btn"></li>
			<li id="color-indigo" class="color-btn"></li>
			<li id="color-blue" class="color-btn"></li>
			<li id="color-teal" class="color-btn"></li>
			<li id="color-green" class="color-btn"></li>
			<li id="color-light-green" class="color-btn"></li>
			<li id="color-amber" class="color-btn"></li>
			<li id="color-orange" class="color-btn"></li>
			<li id="color-deep-orange" class="color-btn"></li>
			<li id="color-brown" class="color-btn"></li>
			<li id="color-blue-gray" class="color-btn"></li>
			<li id="color-gray" class="color-btn"></li>
		</ul>
	</div>
</div> -->