<script type="text/javascript" src="{{ "/js/js/jquery-1.7.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/jquery.hashchange.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/jquery.easytabs.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/fancybox/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/foundation.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/foundation.reveal.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/jquery.knob.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/jquery.validate.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/jquery.zflickrfeed.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/custom.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/js/styleselector.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/fancybox/helpers/jquery.fancybox-thumbs.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>