<a class="btn-scroll-top" href="#"><i class="icon icon-arrow-up"></i></a>
<div id="overlay"></div>
<div id="preloader">
	<div class="preload-icon"><span></span><span></span></div>
	<div class="preload-text">Loading ...</div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{{ '/js/site.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>