<!--Footer-->
<footer class="footer t-center pt-60 pb-60">
	<!--Container-->
	<div class="container">
		<!--Row-->
		<div class="row">
			<div class="col-md-12"> 
				<ul class="socials round pb-20">
					<li><a href="#"><i class="icon-facebook-circled"></i><span>Facebook</span></a></li>
					<li><a href="#"><i class="icon-twitter-circled"></i><span>Twitter</span></a></li>
					<li><a href="#"><i class="icon-linkedin-circled"></i><span>Linkedin</span></a></li>
					<li><a href="#"><i class="icon-dribbble-circled"></i><span>Dribbble</span></a></li>
				</ul>
				<hr>
				<p class="pt-20">&copy; 2016 all rights reserved. A product of <a href="http://www.mutationmedia.net/" target="_blank">Mutationthemes</a>.</p>
			</div>
		</div>
		<!--End row-->
	</div>
	<!--End container-->
</footer>
<!--End footer-->