<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Rifky Ekayama :: Web Developer & Professional Networking</title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/jquery.fancybox.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/colors/color-cf-blue.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/styleselector.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/jquery.fancybox-thumbs.css" | prepend: site.baseurl }}">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />


	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>