<!-- Header -->
<header class="header">
  <div class="top clearfix">
    <a href="#section8" class="available"><i class="ion-ios-email-outline"></i><span>Available For Freelance</span></a>
    <div class="right-icons">
      <a href="#" class="open-search header-open-search"><i class="md md-search"></i></a>
      <a href="#" class="download"><i class="md md-file-download"></i></a>
      <a href="#" class="share"><i class="md md-more-vert"></i></a>
    </div> <!-- end .right-icons -->
    <!-- Popup -->
    <div class="popup">
      <nav class="social-nav">
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://web.facebook.com/rifky.ekayama">Facebook</a></li>
          <li><a target="_blank" href="https://twitter.com/RifkyEkayama">Twitter</a></li>
          <li><a target="_blank" href="http://id.linkedin.com/in/rifkyekayama">Linkedin</a></li>
          <li><a onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:rifqykiw1?call">Skype</a></li>
          <li><a href="#">Google+</a></li>
          <li><a href="#">Behance</a></li>
        </ul> <!-- end .list-unstyled -->
      </nav> <!-- end .social-nav -->
    </div> <!-- end .popup -->
  </div> <!-- end .top -->
  <div class="bottom clearfix">
    <div class="title"><a href="index.html">Sility</a></div>
    <div class="header-action-button-wrapper">
      <a href="#" class="header-action-button action-button"><i class="md md-add"></i></a>
    </div> <!-- end .header-action-button-wrapper -->
    <a href="#" class="responsive-menu-open">Menu <i class="fa fa-bars"></i></a>
    <nav class="main-nav">
      <ul class="list-unstyled">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">About</a></li>
        <li><a href="#section3">Skill</a></li>
        <li><a href="#section4">Experience</a></li>
        <li><a href="#section5">Education</a></li>
        <li><a href="#section6">Work</a></li>
        <li><a href="#section7">Blog</a></li>
        <li><a href="#section8">Contact</a></li>
      </ul>
    </nav> <!-- end .main-nav -->
  </div> <!-- end .bottom -->
</header> <!-- end .header -->

<div class="responsive-menu">
  <a href="#" class="responsive-menu-close">Close <i class="ion-android-close"></i></a>
  <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->