<!--==========================================
				 HEADER
===========================================-->
<div id="header" class="shadow">
	<!-- Navigation -->
	<nav>
		<div class="nav nav-wrapper navbar-fixed-top">
			<div class="container-fluid">

				<!-- Menu Option -->
				<ul class="nav-justified hide-on-med-and-down">
					<li><a href="#header">About</a></li>
					<li><a href="#experience">Experience</a></li>
					<li><a href="#skills">Skills</a></li>
					<li><a href="#education">Education</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#portfolios">Portfolios</a></li>
					<li><a href="#achievement">Achievement</a></li>
					<li><a href="#publications">Publications</a></li>
					<!-- <li><a href="#blog">Blog</a></li>
					<li><a href="#clients">Clients</a></li>
					<li><a href="#pricing">Pricing</a></li> -->
					<li><a href="#interest">Interest</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>

				<a href="#0" data-activates="nav-mobile" id="nav-btn" class="button-collapse nav-icon">
					<i class="ion-navicon"></i></a>

				<!-- Side Nav -->
				<div id="side-nav">
					<div id="nav-header">
						<div id="nav-profile" class="center-block">

							<!-- Profile Picture [Square] -->
							<img src="images/{{ site.photo_profile }}">
						</div>
						<h6 class="text-center text-capitalize">{{ site.name }}</h6>
					</div>

					<div id="nav-link-wrapper">

						<!-- Side Menu Option -->
						<ul>
							<li><a class="nav-link" href="#header">About</a></li>
							<li><a class="nav-link" href="#experience">Experience</a></li>
							<li><a class="nav-link" href="#skills">Skills</a></li>
							<li><a class="nav-link" href="#education">Education</a></li>
							<li><a class="nav-link" href="#services">Services</a></li>
							<li><a class="nav-link" href="#portfolios">Portfolios</a></li>
							<li><a class="nav-link" href="#achievement">Achievement</a></li>
							<li><a class="nav-link" href="#publications">Publications</a></li>
							<!-- <li><a class="nav-link" href="#blog">Blog</a></li>
							<li><a class="nav-link" href="#clients">Clients</a></li>
							<li><a class="nav-link" href="#pricing">Pricing</a></li> -->
							<li><a class="nav-link" href="#interest">Interest</a></li>
							<li><a class="nav-link" href="#contact">Contact</a></li>
						</ul>
					</div>

				</div>
				<!-- ./Side Nav -->

				<!-- Side Nav Mask -->
				<div id="side-nav-mask"></div>

			</div>
		</div>
	</nav>

	<!-- Name and Status -->
	<div id="intro" class="container">
		<h1 class="text-center text-capitalize">{{ site.name }}</h1>
		<h4 class="text-center text-capitalize">{{ site.tagline }}</h4>
	</div>
</div>