<!--Navigation container-->
	<div class="nav-container base">
		<nav class="main-nav default">
			<!--Container-->
			<div class="container ">
				<!--Row-->
				<div class="row">
					<div class="mobile-menu-holder">
						<a class="mobile-btn" href="#"><i class="icon-menu"></i></a>
					</div>
				</div>
				<!--End row-->
			</div>
			<!--End container-->

			<!--Container-->
			<div class="container ">
				<!--Row-->
				<div class="row">
					<div class="col-sm-5 t-center">
						<ul class="menu first">
							<li><a  class="scroll" href="#home">Home<i class="icon-home"></i></a></li>
							<li><a  class="scroll" href="#about">About<i class="icon-user"></i></a></li>
							<li><a  class="scroll" href="#resume">Resume<i class="icon-doc-text-inv"></i></a></li>
						</ul>
					</div>
					<div class="col-sm-2 pd-0 t-center">
						<div class="img-profile">
							<img src="/assets/img/{{ site.photo_profile }}" alt="">
						</div>
						
						<div class="name-profile">
							<h5><a class="scroll" href="#home">{{ site.name }}<span>{{ site.tagline }}</span></a></h5>
						</div>
					</div>
					<div class="col-sm-5 t-center">
						<ul class="menu second">
							<li><a class="scroll" href="#portfolio">Portfolio<i class="icon-camera"></i></a></li>
							<li><a  class="scroll" href="#blog">Blog<i class="icon-chat"></i></a></li>
							<li><a  class="scroll" href="#contact">Contact<i class="icon-paper-plane"></i></a></li>
						</ul>
					</div>
				</div>
				<!--End row-->
			</div>
			<!--End container-->
		</nav>
	</div>
	<!--End navigation container-->