<!--Javascript-->	
<script src="{{ "assets/js/jquery-1.11.3.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/owl.carousel.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/jquery.magnific-popup.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/masonry.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/jquery.smooth-scroll.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/jquery.appear.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/timer.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/placeholders.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/instafeed.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/easing.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/jquery.ui.totop.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "assets/js/script.js" | relative_url }}" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
{% assign url = '{{link}}' %}
{% assign imageSource = '{{image}}' %}
{% assign captionImage = '{{caption}}' %}
<script>
	(function($) {
		"use strict";

		// Instagram feed setup
		var instaFeed = new Instafeed({
				get: 'user',
				userId: '1631478239',
				accessToken: '1631478239.a5c8cb7.6df598c0958d4cb88e8d2f5039466578',
				limit: 5,
				template: '<li><a href="{{url}}"><img src="{{imageSource}}" alt="{{captionImage}}"/></a></li>'
			});
		instaFeed.run();

		// Google map location
		var styles = [
				{
					stylers: [
						{ saturation: -100 }

					]
				},{
					featureType: 'road',
					elementType: 'geometry',
					stylers: [
						{ hue: "#74b7b0" },
						{ visibility: 'simplified' }
					]
				},{
					featureType: 'road',
					elementType: 'labels',
					stylers: [
						{ visibility: 'on' }
					]
				}
			],

			lat = -33.867487,
			lng = 151.20699,

			customMap = new google.maps.StyledMapType(styles,
				{name: 'Styled Map'}),
			mapOptions = {
				zoom: 14,
			scrollwheel: false,
			disableDefaultUI: true,
				center: new google.maps.LatLng( lat, lng ),
				mapTypeControlOptions: {
					mapTypeIds: [google.maps.MapTypeId.ROADMAP]
				}
			},
			map = new google.maps.Map(document.getElementById('map'), mapOptions),
			myLatlng = new google.maps.LatLng( lat, lng ),




			marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			icon: {
						url: 'img/marker.png',
						scaledSize: new google.maps.Size(36, 58)
					}
			});
			map.mapTypes.set('map_style', customMap);
			map.setMapTypeId('map_style');
		})(jQuery);

</script>