<!--About section-->
<section id="about" class="about">
	<!--Block content-->
	<div class="block-content clearfix">
		<div class="block-about one bg-grey-1 ">
			<div class="block-title">
				<h2 class="title">Who am I ?</h2>
			</div>
			<h5 class="lead mt-40">A Talented Web Designer / Developer Located In Our Lovely Earth</h5>
			<p class="mt-20">{{ site.description }}</p>
			<a href="#" class="but brd ico white mt-30"><i class="icon-down-circled2 "></i>Download My CV</a>
		</div>
		<div class="block-about two bg-grey-2 ">
			<div class="block-title">
				<h2 class="title">Personal Info</h2>
			</div>
			<ul class="mt-40 info">
				<li><span>Birthdate</span> : {{ site.birthdate }}</li>
				<li><span>Phone</span> : <a href="tel:{{ site.phone }}" style="color: inherit;">{{ site.phone }} ( Click to Call )</a></li>
				<li><span>Email</span> : {{ site.email }}</li>
				<li><span>Skype</span> : {{ site.skype_username }} </li>
				<li><span>Freelance</span> : {% if site.freelance_status %}Available{% else %}Not Available{% endif %}</li>
				<li><span>Adresse</span> : {{ site.address }}</li>
			</ul>
			<ul class="mt-20 socials">
				<li><a href="{{ site.twitter_link }}"><i class="icon-twitter"></i></a></li>
				<li><a href="{{ site.facebook_link }}"><i class="icon-facebook"></i></a></li>
				<li><a href="{{ site.googleplus_link }}"><i class="icon-gplus"></i></a></li>
				<!-- <li><a href="#"><i class="icon-pinterest"></i></a></li> -->
				<li><a href="{{ site.linkedin_link }}"><i class="icon-linkedin"></i></a></li>
				<!-- <li><a href="#"><i class="icon-dribbble"></i></a></li> -->
				<!-- <li><a href="#"><i class="icon-vimeo"></i></a></li> -->
				<!-- <li><a href="#"><i class="icon-flickr"></i></a></li> -->
			</ul>
		</div>
		<div class="block-about three bg-grey-1">
			<div class="block-title">
				<h2 class="title">My Expertise</h2>
			</div>
			<div class="block-expertise mt-40">
				<!--Expertise-->
				<div class="expertise mb-20 clearfix">
					<div class="exp-ico">
						<span class="ico">
						<i class="ic-desktop"></i>
						</span>
					</div>
					<div class="exp-det">
						<h6>Web Design</h6>
						<p>Aliquip ex ea commodo consequat.</p>
					</div>
				</div>
				<!--Expertise-->
				
				<!--Expertise-->
				<div class="expertise mb-20 clearfix">
					<div class="exp-ico">
						<span class="ico">
						<i class="ic-lock"></i>
						</span>
					</div>
					<div class="exp-det">
						<h6>Web Development</h6>
						<p>Sed do eiusmod tempor incididunt.</p>
					</div>
				</div>
				<!--Expertise-->
				
				<!--Expertise-->
				<div class="expertise clearfix">
					<div class="exp-ico">
						<span class="ico">
						<i class="ic-phone"></i>
						</span>
					</div>
					<div class="exp-det">
						<h6>Mobile Design</h6>
						<p>Ut enim ad minim veniam exercion.</p>
					</div>
				</div>
				<!--Expertise-->
			</div>
		</div>
	</div>
	<!--End block content-->
</section>
<!--End about section-->