<!--Blog section-->
<section id="blog" class="blog pt-100">
	<!--Block content-->
	<div class="block-content">
		<!--Container-->
		<div class="container ">
			<!--Row-->
			<div class="row">
				<div class="col-md-12">
					<div class="block-title mb-60">
						<h2 class="title">Latest News</h2>
					</div>
				</div>
			</div>
			<!--End row-->
							
			<!--Row-->
			<div class="row">
				<div class="block-posts">
					<div class="col-md-4 col-sm-4  ">	
						<!--Post-->
						<div class="post latest">
							<!--Post media-->
							<div class="post-media">
								<img src="assets/img/blog/1.jpg" alt="">
							</div>
							<!--End post media-->

							<!--Post details-->
							<div class="post-details latest pb-20">
								<h4 class="uppercase pt-15 pb-15"><a href="blog_single.html">Raw Introduction</a></h4>
								<!--Post meta-->
								<div class="post-meta t-center pt-10 pb-10">
									<ul class="clearfix">
									<li class="date">03 May</li>
									<li><i class="icon-user-1"></i><span>by<a href="#"> admin</a></span></li>
									<li><i class="icon-comment"></i><span>Comments<a href="#"> (2)</a></span></li>
									</ul>
								</div>
								<!--End post meta-->
								<p class="pt-15 pb-20">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation.</p>
								<a class="more" href="blog_single.html">read more <span>&rarr;</span> </a>
							</div>
							<!--End post details-->
								
						</div>
						<!--End post-->
					</div>
					<div class="col-md-4 col-sm-4">
						<!--Post-->
						<div class="post latest">
							<!--Post media-->
							<div class="post-media">
								<img src="assets/img/blog/2.jpg" alt="">
							</div>
							<!--End post media-->
							<!--Post details-->
							<div class="post-details latest pb-20">
								<h4 class="uppercase pt-15 pb-15"><a href="blog_single.html">Mobile Design</a></h4>
								<!--Post meta-->
								<div class="post-meta t-center pt-10 pb-10">
									<ul class="clearfix">
									<li class="date">10 Fev</li>
									<li><i class="icon-user-1"></i><span>by<a href="#"> admin</a></span></li>
									<li><i class="icon-comment"></i><span>Comments<a href="#"> (2)</a></span></li>
									</ul>
								</div>
								<!--End post meta-->
								<p class="pt-15 pb-20">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
								<a class="more" href="blog_single.html">read more <span>&rarr;</span> </a>
							</div>
							<!--End post details-->
						</div>
						<!--End post-->
					</div>													
					<div class="col-md-4 col-sm-4  ">
						<!--Post-->
						<div class="post latest">
							<!--Post media-->
							<div class="post-media">
								<img src="assets/img/blog/3.jpg" alt="">
							</div>
							<!--End post media-->

							<!--Post details-->
							<div class="post-details latest pb-20">
								<h4 class="uppercase pt-15 pb-15"><a href="blog_single.html">Reading &amp; Blogging</a></h4>
								<!--Post meta-->
								<div class="post-meta t-center pt-10 pb-10">
									<ul class="clearfix">
									<li class="date">05 Sept</li>
									<li><i class="icon-user-1"></i><span>by<a href="#"> admin</a></span></li>
									<li><i class="icon-comment"></i><span>Comments<a href="#"> (2)</a></span></li>
									</ul>
								</div>
								<!--End post meta-->
								<p class="pt-15 pb-20">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
								<a class="more" href="blog_single.html">read more <span>&rarr;</span> </a>
							</div>
							<!--End post details-->
						</div>
						<!--End post-->
					</div>		
				</div>
			</div>
			<!--End row-->
			<!--Row-->
			<div class="row">
				<div class="col-sm-12 t-center">
					<a class="but brd  white mt-80 mb-80 " href="blog.html">View All Blog Posts</a>                      
				</div>
			</div>
			<!--End row-->
		</div>
		<!--End container-->
	</div>
	<!--End block content-->
</section>
<!--End blog section-->