<!--Home section-->
<section id="home" class="home">
	<!--Block content-->
	<div class="block-content ">
		<div class="block-teaser block-background-image large overlay" data-background="assets/img/teaser/1.jpg">
			<!--Container-->
			<div class="container ">
				<!--Row-->
				<div class="row">
					<div class="col-sm-12 ">
						<h1 class="white ">{{ site.name }}</h1>
						<h3 class="mt-20 white mb-200">{{ site.tagline }}</h3>
					</div>
				</div>
				<!--End row-->

				<!--Row-->
				<div class="row">
					<div class="col-sm-6 ">
						<a href="#" class="but opc ico white"><i class="icon-print-1"></i>Print Out My CV</a>                      
					</div>
					<div class="col-sm-6 t-right">
						 <p class="white short-email">Do you have any questions ? Write to me at <a href="mailto:{{ site.email }}">{{ site.email }}</a> </p>                       
					</div>
				</div>
				<!--End row-->
			</div>
			<!--End container-->
		</div>
	</div>
	<!--End block content-->
</section>
<!--End home section-->