<!--Resume section-->
<section id="resume" class="resume pt-100 pb-80">
	<!--Container-->
	<div class="container ">
		<!--Row-->
		<div class="row">
			<div class="col-md-12">
				<div class="block-title mb-60">
					<h2 class="title">My Resume</h2>
				</div>
			</div>
		</div>
		<!--End row-->

		<!--Row-->
		<div class="row masonry">
			<!--Block content-->
			<div class="block-content">
				
				{% include pages/elements/_expertise.html %}

				{% include pages/elements/_education.html %}

				{% include pages/elements/_skills.html %}

				{% include pages/elements/_languages.html %}

				{% include pages/elements/_assets.html %}
				
				{% include pages/elements/_interests.html %}
			</div>
			<!--End block content-->
		</div>
		<!--End row-->

		<!--Row-->
		<div class="row">
			<!--Block content-->
			<div class="block-content mt-50 pb-80 clearfix">
				{% include pages/elements/_fact_list.html %}
			</div>
			<!--End block content-->
		</div>
		<!--End row-->
	</div>
	<!--End container-->

	<!--Block content-->
	{% include pages/elements/_services.html %}
	<!--End block content-->

	<!--Block content-->
	{% include pages/elements/_client_carousel.html %}
	<!--End block content-->

	<!--Block content-->
	{% include pages/elements/_client_testimoni.html %}
	<!--End block content-->

	<!--Block content-->
	{% comment %}
		{% include pages/elements/_pricing.html %}
	{% endcomment %}
	<!--End block content-->
</section>
<!--End resume section-->