<div id="about">
	<!-- About -->
	<!-- Welcome block -->
	<div class="plain-content">
		<h1>Welcome!</h1>
		<p>My name is Rifky Ekayama, I'm a web developer and networking professional based in Indonesia. I have 5 years web development experience and I'm available to work with you.
		<br>Look at my Portfolio and make a right descision.</p>
	</div>
	<!-- /Welcome block -->

	<!-- Grey block -->
	<!-- <div class="grey-content">
		<div class="one-third">
			<div class="services">
				<div class="servtitle">
					<div class="servicon"><i class="fa fa-comments web"></i><h3>Web Design</h3></div>
				</div>
				<div>
					<p>
					Depending on who you follow and what you read, you may have noticed the concept of “responsive text” being discussed in design circles recently.
					</p>
					<a href="#"><span>Learn More <i class="icon-angle-right"></i></span></a>
				</div>
			</div>
		</div>
		<div class="one-third">
			<div class="services">
				<div class="servtitle">
					<div class="servicon"><i class="fa fa-comments ui"></i><h3>UI Design</h3></div>
				</div>
				<div>
					<p>
					Depending on who you follow and what you read, you may have noticed the concept of “responsive text” being discussed in design circles recently.
					</p>
					<a href="#"><span>Learn More <i class="icon-angle-right"></i></span></a>
				</div>
			</div>
		</div>
		<div class="one-third column-last">
			<div class="services">
				<div class="servtitle">
					<div class="servicon"><i class="fa fa-comments app"></i><h3>Mobile Apps</h3></div>
				</div>
				<div>
					<p>
					Depending on who you follow and what you read, you may have noticed the concept of “responsive text” being discussed in design circles recently.
					</p>
					<a href="#"><span>Learn More <i class="icon-angle-right"></i></span></a>
				</div>
			</div>
		</div>
	</div> -->
	<!-- /Grey block -->
	<!-- / About -->
</div>