<div id="contacts">

	<!-- Contacts -->
	<div class="plain-content">
		<h1>Contacts</h1>
		<p>Here i'd like to describe all my professional experience and skills.</p>
		<div>
			<div class="one-third">
				<div>
					Jl. Sriwijaya 1 No. 26. RT. 03/08 KPAD Sriwijaya
					Kota Cimahi 40524
				</div>
			</div>
			<div class="one-third">
				<div>
					Phone: +62 878 2193 6074
				</div>
			</div>
			<div class="one-third column-last">
				<div>
					rifky.ekayama@gmail.com
				</div>
			</div>
		</div>
	</div>
	<div class="clear dividewhite6"></div>

	<!-- Google Map -->
	<div id="map"></div>
	<!-- /Google Map -->  

	<!-- / Contacts -->
</div>