<div id="feedback">

	<!-- Feedback -->
	<div class="plain-content">
		<h1>Feedback</h1>
		<p>Here i'd like to describe all my professional experience and skills.</p>

		<!-- Contact Form -->
		<div class="feedbacks">
			<form method="post" id="contact-form" />                                   
				<label>Name</label>
				<input type="text" name="name" />
				<label>Email</label>
				<input type="text" name="email" />
				<label>Website</label>
				<input type="text" name="website" />
				<label>Message</label>
				<textarea cols="100" rows="8" name="message"></textarea>     
				<input type="submit" value="Submit Form " class="button-red" /> 
			</form>     
		</div>                  
	</div>
	<!-- /Contact Form -->

	<!-- / Feedback -->
</div> 