<div class="top-row">
	<!-- Photo -->
	<div class="photo">
		<ul id="photo" class="tabs">
			<li class="def"><a href="#home"><img src="/images/photo.png" alt=""></a></li>
		</ul>
	</div>
	<!-- /Photo -->

	<div class="attributes">
		<a href="#home">
			<div class="name">Rifky Ekayama</div>
			<div class="position">Web Developer & Networking</div>
			<!-- <div class="position">Personal Information</div> -->
		</a>
	</div>  


	<div id="main-nav">
		<ul class="tabs">
			<li class="about"><a href="#about"><i class="fa fa-user"></i></a></li>
			<li class="resume"><a href="#resume"><i class="fa fa-tasks"></i></a></li>
			<li class="portfolio"><a href="#portfolio"><i class="fa fa-suitcase"></i></a></li>
			<li class="contacts"><a href="#contacts" class="tab-contact"><i class="fa fa-globe"></i></a></li>
			<li class="feedback"><a href="#feedback"><i class="fa fa-comments"></i></a></li>
		</ul>
	</div>
</div>