<div id="portfolio">

	<!-- Portfolio -->
	<div class="plain-content">
		<h1>Portfolio</h1>
		<p>Here i'd like to describe all my professional experience and skills.</p>

		<!-- Project Feed Filter -->
		<ul class="project-feed-filter">
			<li><a href="" class="current" data-filter="*">All <i class="icon-angle-right"></i></a></li>
			<li><a href="" data-filter=".sim">System Information <i class="icon-angle-right"></i></a></li>
			<li><a href="" data-filter=".game">Game <i class="icon-angle-right"></i></a></li>
			<li><a href="" data-filter=".mobile">Mobile Application <i class="icon-angle-right"></i></a></li>
			<li><a href="" data-filter=".desktop">Desktop Application <i class="icon-angle-right"></i></a></li>
			<li><a href="" data-filter=".website">Website <i class="icon-angle-right"></i></a></li>
		</ul>
		<!-- /Project Feed Filter -->

		{% include komponen/portfolio_modal.html %}

		<!-- Project Feed -->
		<div class="project-feed">
			<%# @portfolio.each do |porto| %>
				<div class="one-third project-item game">
					<img src="/images/content/game/malingman/malingman_01.png" alt="">
					<div class="overlay"></div>
					<div class="mask">
						<a href="#portfolio" class="icon-image malingman-Gallery" title="Simple Web Project anyway"></a>
						<a href="#" data-reveal-id="myModal01" class="item-title">Game MalingMan v1.0 BETA</a>
					</div>
				</div>
				<div class="one-third project-item sim website">
					<img src="/images/content/sim/hotelyz/hotelyz_01.png" alt="">
					<div class="overlay"></div>
					<div class="mask">
						<a href="#portfolio" class="icon-image hotelyz-Gallery" title="Simple Web Project anyway"></a>
						<a href="#" data-reveal-id="myModal01" class="item-title">Sistem Informasi Manajemen Hotel</a>
					</div>
				</div>
				<div class="one-third project-item desktop sim">
					<img src="/images/content/desktop/xbxParking/parking-01.png" alt="">
					<div class="overlay"></div>
					<div class="mask">
						<a href="#portfolio" class="icon-image parking-Gallery" title="Simple Web Project anyway"></a>
						<a href="#" data-reveal-id="myModal01" class="item-title">Aplikasi Manajemen Parkir</a>
					</div>
				</div>
				<div class="one-third project-item mobile">
					<img src="/images/content/mobile/tarimaResep/tarima_01.png" alt="">
					<div class="overlay"></div>
					<div class="mask">
						<a href="#portfolio" class="icon-image tarimaresep-Gallery" title="Simple Web Project anyway"></a>
						<a href="#" data-reveal-id="myModal01" class="item-title">Aplikasi resep masakan untuk Android</a>
					</div>
				</div>
			<%# end %>
		</div>
		<!-- /Project Feed -->
	</div>
	<!-- / Portfolio -->
</div>