<!-- Projects Content Modal Window Hidden -->
<div id="myModal01" class="reveal-modal" data-reveal role="dialog">
	<h2>Some Cool Corporate Website</h2>
	<p class="grey">Flaig has collaborated on Lieder with Jörg Schweinbenz. He premiered a cycle of orchestral songs, composed for him by Franz F. Kaern, based on poems by Thomas Bernhard.</p>
	<div class="pop-container">
		<div class="pop-image"><img src="/iamges/content/project_01.jpg"></div>
		<div class="pop-details">
			<p><span class="grey">Date: &nbsp;&nbsp;</span> 12.23.2013</p>
			<p><span class="grey">Category: &nbsp;&nbsp;</span>Website Development</p>
			<p><span class="grey">Author: &nbsp;&nbsp;</span>Gerard Depardieu</p>
			<p><span class="grey">Technology: &nbsp;&nbsp;</span>Html5, JS, MySQL</p>
			<p><span class="grey">Client: &nbsp;&nbsp;</span>WASP LLC</p>
			<p><span class="grey">Project link: &nbsp;&nbsp;</span><a href="#">somewebsite.com</a></p>
		</div>
	</div>                    
	<p>
		Pimenta filipes is a species of plant in the Myrtaceae family. It is endemic to Cuba. BMO may refer to: Markus Flaig (born 1971) is a German bass-baritone. Markus Flaig was born in Horb am Neckar. He studied sacred music and school music, then voice with Beata Heuer-Christen in Freiburg and with Berthold Possemeyer at the Hochschule für Musik Frankfurt. Since 2006 he has worked with Carol Meyer-Bruetting. In 2004, he was awarded a prize at the international Johann Sebastian Bach Competition in Leipzig in the voice category.Pimenta filipes is a species of plant in the Myrtaceae family. It is endemic to Cuba. BMO may refer to: Markus Flaig (born 1971) is a German bass-baritone. Markus Flaig was born in Horb am Neckar. He studied sacred music and school music, then voice with Beata Heuer-Christen in Freiburg and with Berthold Possemeyer at the Hochschule für Musik Frankfurt. Since 2006 he has worked with Carol Meyer-Bruetting.
	</p>
	<input type="button" class="button-red" onclick="window.location='http://themeforest.net/item/gridly-responsive-vcard-html/6185561?ref=neuethemes'" value="Download HTML Template">
	<input type="button" class="button-blue" onclick="window.location='http://themeforest.net/item/gridly-personal-vcard-portfolio-wordpress/7656165?ref=neuethemes'" value="Download WordPress Theme">
	<a class="close-reveal-modal">&#215;</a>
</div>
<!-- /Projects Content Modal Window Hidden -->