<div id="resume">
	<!-- Resume -->
	<!-- Resume title -->
	<div class="plain-content">
		<h1>Resume</h1>
		<p>Here i'd like to describe all my professional experience and skills.</p>
	</div>
	<!-- /Resume title -->

	<!-- Organization block -->
	<div class="grey-content">
		<div><h2>Pengalaman Organisasi</h2></div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2013</div>
				<div class="datetill">2013</div>
				<div class="trianglewrap"><div class="datetriangle"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Panitia Bimbingan Angkatan, Pelatihan Kepemimpinan, dan Manajemen Organisasi (BAPKMO) Jurusan Informatika UNJANI</h3>
				<h4><strong>Staff Tim Kesehatan</strong></h4>
				<div class="jobdescription">
					<!-- <div class="one">
						Bertanggung jawab terhadap kesehatan peserta maupun panitia dalam pelaksanaan acara BAPKMO Jurusan Informatika UNJANI.
					</div> -->
				</div> 
			</div>
		</div>
		<div class="clear dividewhite3"></div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2014</div>
				<div class="datetill">2014</div>
				<div class="trianglewrap"><div class="datetriangle"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Badan Eksekutif Mahasiswa Keluarga Mahasiswa Fakultas Matematika dan Ilmu Pengetahuan Alam UNJANI</h3>
				<h4><strong>Staff Departemen Komunikasi, Informasi, dan Kesekretariatan</strong></h4> 
				<div class="jobdescription">
					<div class="one">
						
					</div>
				</div> 
			</div>
			<div class="clear dividewhite3"></div>
		</div>
		<div class="clear dividewhite3"></div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2014</div>
				<div class="datetill">2014</div>
				<div class="trianglewrap"><div class="datetriangle"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Panitia Pengenalan Kampus Fakultas Matematika dan Ilmu Pengetahuan Alam UNJANI</h3>
				<h4><strong>Koordinator Publikasi dan Dokumentasi</strong></h4> 
				<div class="jobdescription">
					<div class="one">
						
					</div>
				</div> 
			</div>
			<div class="clear dividewhite3"></div>
		</div>
		<div class="clear dividewhite3"></div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2014</div>
				<div class="datetill">2014</div>
				<div class="trianglewrap"><div class="datetriangle"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Panitia Pengenalan Kampus Jurusan Informatika UNJANI</h3>
				<h4><strong>Koordinator Publikasi dan Dokumentasi</strong></h4> 
				<div class="jobdescription">
					<div class="one">
						
					</div>
				</div> 
			</div>
			<div class="clear dividewhite3"></div>
		</div>
		<div class="clear dividewhite3"></div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2014</div>
				<div class="datetill">2014</div>
				<div class="trianglewrap"><div class="datetriangle"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Panitia Bimbingan Angkatan, Pelatihan Kepemimpinan, dan Manajemen Organisasi (BAPKMO) Jurusan Informatika UNJANI</h3>
				<h4><strong>Koordinator Publikasi dan Dokumentasi</strong></h4> 
				<div class="jobdescription">
					<div class="one">
						
					</div>
				</div> 
			</div>
			<div class="clear dividewhite3"></div>
		</div>
	</div>
	<!-- /Organization block -->

	<!-- Education block -->
	<div class="plain-content">
		<div><h2>Pendidikan</h2></div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2000</div>
				<div class="datetill-f">2006</div>
				<div class="trianglewrap"><div class="datetriangle-f"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Sekolah Dasar Negeri WR. Soepratman</h3>
				<h4><strong>Kota Cimahi</strong></h4> 
			</div>
			<div class="clear dividewhite3"></div>
		</div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2006</div>
				<div class="datetill-f">2009</div>
				<div class="trianglewrap"><div class="datetriangle-f"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Sekolah Menengah Pertama Negeri 3</h3>
				<h4><strong>Kota Cimahi</strong></h4> 
			</div>
			<div class="clear dividewhite3"></div>
		</div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2009</div>
				<div class="datetill-f">2012</div>
				<div class="trianglewrap"><div class="datetriangle-f"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Sekolah Menengah Atas Negeri 1</h3>
				<h4><strong>Kota Cimahi</strong></h4> 
			</div>
			<div class="clear dividewhite3"></div>
		</div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2012</div>
				<div class="datetill-f">Present</div>
				<div class="trianglewrap"><div class="datetriangle-f"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Universitas Jenderal Achmad Yani (UNJANI)</h3>
				<h4><strong>Program Studi Informatika</strong></h4> 
				<!-- <div class="jobdescription">
					<div class="one-half">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla libero a nibh sollicitudin, ac pharetra diam convallis. Integer lobortis justo tempus odio gravida 
					</div>
					<div class="one-half column-last">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla libero a nibh sollicitudin, ac pharetra diam convallis. Integer lobortis justo tempus odio gravida 
					</div>
				</div>  -->
			</div>
			<div class="clear dividewhite3"></div>
		</div>
	</div>
	<!-- /Education block -->

	<!-- Organization block -->
	<!-- <div class="grey-content">
		<div><h2>Pengalaman Kerja</h2></div>
		<div class="job">
			<div class="date">
				<div class="datefrom">2011</div>
				<div class="datetill">Present</div>
				<div class="trianglewrap"><div class="datetriangle"></div></div>
			</div>
			<div class="jobtitle">
				<h3>Connectivity Group LLC</h3>
				<h4><strong>Art-Director</strong></h4> 
				<div class="jobdescription">
					<div class="one-half">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla libero a nibh sollicitudin, ac pharetra diam convallis. Integer lobortis justo tempus odio gravida 
					</div>
					<div class="one-half column-last">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla libero a nibh sollicitudin, ac pharetra diam convallis. Integer lobortis justo tempus odio gravida 
					</div>
				</div> 
			</div>
		</div>
		<div class="clear dividewhite3"></div>
	</div> -->
	<!-- /Organization block -->

	<!-- <div class="clear dividewhite3"></div>
 -->
	<!-- Skills block -->
	<!-- <div class="grey-content">
		<div><h2>Skills</h2></div>
		<div class="clear dividewhite3"></div>
		<div>
			<div class="one-third">
				<div>
					<input class="knob" data-width="150" data-fgcolor="#1abc9c" data-bgcolor="#d2d4d8" data-thickness=".2" readonly="" value="25" />
					<h4><strong>Graphic Designer</strong></h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla libero a nibh sollicitudin
				</div>
			</div>
			<div class="one-third">
				<div>
					<input class="knob" data-width="150" data-fgcolor="#9b59b6" data-bgcolor="#d2d4d8" data-thickness=".2" readonly="" value="58" />
					<h4><strong>Graphic Designer</strong></h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla libero a nibh sollicitudin
				</div>
			</div>
			<div class="one-third column-last">
				<div>
					<input class="knob" data-width="150" data-fgcolor="#e74c3c" data-bgcolor="#d2d4d8" data-thickness=".2" readonly="" value="90" />
					<h4><strong>Graphic Designer</strong></h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla libero a nibh sollicitudin
				</div>
			</div>
		</div>
		<div class="clear dividewhite3"></div>
	</div> -->
	<!-- /Skills block -->

	<div class="clear dividewhite3"></div>
	<div class="plain-content wopadd">
		<input type="button" value="Save as PDF" class="button-red" />
		<input type="button" value="Print" class="button-blue" />
	</div>
	<div class="clear dividewhite3"></div>
	<!-- / Resume -->
</div>