<!-- About -->
<section id="section2">
	<div class="container">
		<h2>About Me</h2>
		<div class="row">
			<div class="col-sm-3">
				<img src="images/man02.png" alt="man" class="img-responsive section-img">
			</div> <!-- end .col-sm-3 -->
			<div class="col-sm-9">
				<h3 class="small-margin-bottom">{{ site.name }}</h3>
				<h5>{{ site.profession }}</h5>
				<p>{{ site.description }}</p>
				<div class="signature"><img src="images/signature.png" alt="signature" class="img-responsive"></div>
				<ul class="list-unstyled text-uppercase">
					<li><b>Date Of Birth:</b> {{ site.dateofbirth }}</li>
					<li><b>Phone:</b> {{ site.phone }}</li>
					<li><b>Email:</b> {{ site.email }}</li>
					<li><b>Address:</b> {{ site.address }}</li>
					<li><b>Website:</b> {{ site.website }}</li>
				</ul> <!-- end .list-unstyled -->
				<div class="spacer"></div>
				<h3>What I'm Doing</h3>
				<div class="row">
					<div class="col-sm-4">
						<div class="service">
							<div class="icon"><i class="ion-monitor"></i></div>
							<h5>Web & UX Design</h5>
						</div> <!-- end .service -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-4">
						<div class="service">
							<div class="icon"><i class="ion-iphone"></i></div>
							<h5>App Development</h5>
						</div> <!-- end .service -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-4">
						<div class="service">
							<div class="icon"><i class="ion-trophy"></i></div>
							<h5>Marketing</h5>
						</div> <!-- end .service -->
					</div> <!-- end .col-sm-4 -->
				</div> <!-- end .row -->
			</div> <!-- end .col-sm-9 -->
		</div> <!-- end .row -->
	</div> <!-- end .container -->
</section> <!-- end #section1 -->