<!--==========================================
				   ABOUT
===========================================-->
<section id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="col col-md-12">

				<!-- Profile Picture [Square] -->
				<div id="profile" class="center-block">
					<img src="images/{{ site.photo_profile }}">
				</div>

				<!-- Social Links -->
				<div id="intro-div" class="card content-wrapper">
					<ul class="text-center list-inline">
						<li><a href="{{ site.facebook_link }}" target="_blank"><i class="ion-social-facebook"></i></a></li>
						<li><a href="{{ site.twitter_link }}" target="_blank"><i class="ion-social-twitter"></i></a></li>
						<li><a href="{{ site.linkedin_link }}" target="_blank"><i class="ion-social-linkedin"></i></a></li>
						<li><a href="{{ site.googleplus_link }}" target="_blank"><i class="ion-social-googleplus"></i></a></li>
						<li><a href="{{ site.instagram_link }}" target="_blank"><i class="ion-social-instagram"></i></a></li>
						<li><a onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:{{ site.skype_username }}?call" target="_blank"><i class="ion-social-skype"></i></a></li>
						<li><a href="{{ site.github_link }}" target="_blank"><i class="ion-social-github"></i></a></li>
					</ul>

					<!-- Some Intro About You -->
					<p class="text-center">
						{{ site.description }}
					</p>

					<div class="row">
						<!-- Download & Contact Button -->
						<div class="col col-xs-12 col-sm-12 col-md-12 text-center">
							<!-- Your CV File -->
							<a href="cv/{{ site.cv }}" download="cv-file.docx" class="btn waves-effect waves-light btn-primary custom-btn">Download CV</a>
							<a href="#contact" class="btn waves-effect waves-light btn-primary custom-btn">Contact Me</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>