<!--Single Blog Post -->
{% for post in site.posts %}
	<section id="{{ post.title }}" class="active">
		<div class="container">
			<div class="single-blog-post">
				<header class="blog-header clearfix">
					<div class="content">
						<span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
						<h4>{{ post.title }}</h4>
						{% if post.author %}<span class="meta"><a href="#">By {{ post.author }}</a></span>{% endif %}
					</div> <!-- end .content -->
					<div class="image" style="background-image: url('/images/single-blog-post-image.jpg');"></div>
				</header> <!-- end .blog-header -->
				<div class="blog-post">
					<div class="blog-post-content">
						{{ post.content }}
					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->
				<div class="blog-details">
					<div class="section">
						<h5>Author Details</h5>
						<div class="author">
							<div class="image"><img src="/images/author.png" alt="alt text" class="img-responsive"></div>
							<span class="title">Benjamin Thomson</span>
							<p>voluptatem accusantium doloremque laudanto tam rem aperiam, eaque ipsa quae. ab illo inventore veritatis et quasi architecto.</p>
						</div>
					</div> <!-- end .section -->
					<div class="section">
						<h5>Share Post</h5>
						<div class="social-icons">
							<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-icon"><i class="fa fa-behance"></i></a>
							<a href="#" class="social-icon"><i class="fa fa-dribbble"></i></a>
						</div> <!-- end .social-icons -->
					</div> <!-- end .section -->
					<div class="section">
						<h5>Tags</h5>
						<div class="tags"><a href="#">Music</a><span>|</span><a href="#">Mobile</a><span>|</span><a href="#">Tablet</a><span>|</span><a href="#">Live</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endfor %}