<!-- #blog -->
<section id="blog" class="layers blog-content-grid">
	 <h2 style="display:none">blog</h2>
	<!-- .page_content -->
	<div class="page_content">
	
	<!-- .row -->
	<div class="row row_responsive">
	
	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_1-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_2-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-music-tone-alt"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->


	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_3-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-social-youtube"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_4-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_5-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-music-tone-alt"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_6-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_7-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_8-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-social-youtube"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_9-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-music-tone-alt"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_10-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-music-tone-alt"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_11-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-music-tone-alt"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_12-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_13-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_14-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-music-tone-alt"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_15-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-pencil"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_16-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_17-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_18-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-pencil"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_19-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-social-youtube"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

	<!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_20-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->
	
	 <!-- post -->
	<div class="col-sm-6 col-md-4">

	<article>

		<div class="post-thumb">
		<a href="#" class="image-link">
			<img src="images/blog/grid_21-333x222.jpg" alt="">  
		</a>          
		</div>

		<div class="post-body">

		<h3 class="post-title"><a href="#">Awesome Post Title</a></h3>

		<div class="post-meta">

			<ul>
			<li><i class="icon-user"></i>by : <a href="#" title="Posts by Youness" rel="author" class="author_post">Youness</a></li>
			<li class="separate_li">|</li>
			<li><i class="icon-clock"></i>January 18, 2015</li>
			<li class="separate_li">|</li>
			<li><i class="icon-folder"></i><a href="#" rel="category tag"  class="categ_post">WordPress</a></li>
			</ul>

		</div>

		<div class="post-content">
			<p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Mauris sit amet sapien eget lacus...</p>
		</div>

		<a href="#" class="read_more_but">Continue Reading</a>

		<div class="footer_post">
			<ul>
			<li><i class="icon-picture"></i></li>
			<li><i class="icon-bubble"></i> <a href="#">4</a></li>
			<li><i class="icon-heart"></i> <a href="#">35</a></li>
			<li><i class="icon-eye"></i> 216</li>
			</ul>
		</div>

		</div>

	</article>

	</div>
	<!-- //post -->

</div>

<div class="main-pagination">
	<span class="page-numbers current">1</span>
	<a class="page-numbers" href="#">2</a>
	<a class="page-numbers" href="#">3</a>
	<a class="page-numbers" href="#">4</a>
	<a class="next page-numbers" href="#">
	<span class="visuallyhidden">Next</span><i class="fa fa-angle-right"></i>
	</a>  
</div>


</div>
</section>
<!-- End #blog -->