<!--==========================================
                   CLIENTS
===========================================-->
<section id="clients" class="section">
    <h4 class="text-uppercase text-center">Happy Clients</h4>
    <div class="container">
        <div class="row">

            <div id="client-slider" class="swiper-container">
                <div class="swiper-wrapper">

                    <!-- 1st Reference from Client -->
                    <div class="col col-md-12 col-sm-12 col-xs-12 swiper-slide">
                        <div class="card clients-ref">

                            <!-- Client Photo -->
                            <div class="client-photo center-block">
                                <img class="center-block" src="images/client/face-1.png">
                            </div>

                            <!-- Client Testimonial -->
                            <blockquote class="text-center">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur
                                massa. Donec nunc, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus."
                                <cite>&mdash; Mr. John Mark, CEO </cite>
                            </blockquote>
                        </div>
                    </div>
                    <!-- ./1st Reference from Client -->

                    <!-- 2nd Reference from Client -->
                    <div class="col col-md-12 col-sm-12 col-xs-12 swiper-slide">
                        <div class="card clients-ref">

                            <!-- Client Photo -->
                            <div class="client-photo center-block">
                                <img class="center-block" src="images/client/face-2.png">
                            </div>

                            <!-- Client Testimonial -->
                            <blockquote class="text-center">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur
                                massa. Donec nunc, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus."
                                <cite>&mdash; Mrs. July Sara, CEO </cite>
                            </blockquote>
                        </div>
                    </div>
                    <!-- ./2nd Reference from Client -->

                    <!-- 3rd Reference from Client -->
                    <div class="col col-md-12 col-sm-12 col-xs-12 swiper-slide">
                        <div class="card clients-ref">

                            <!-- Client Photo -->
                            <div class="client-photo center-block">
                                <img class="center-block" src="images/client/face-3.png">
                            </div>

                            <!-- Client Testimonial -->
                            <blockquote class="text-center">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur
                                massa. Donec nunc, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus."
                                <cite>&mdash; Mr. Robart Hug, CEO </cite>
                            </blockquote>
                        </div>
                    </div>
                    <!-- ./3rd Reference from Client -->

                    <!-- 4th Reference from Client -->
                    <div class="col col-md-12 col-sm-12 col-xs-12 swiper-slide">
                        <div class="card clients-ref">

                            <!-- Client Photo -->
                            <div class="client-photo center-block">
                                <img class="center-block" src="images/client/face-4.png">
                            </div>

                            <!-- Client Testimonial -->
                            <blockquote class="text-center">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies a. Vestibulum at mollis ex, ac consectetur
                                massa. Donec nunc, laoreet a nibh et, semper tincidunt nunc. Donec ac posuere tellus."
                                <cite>&mdash; Mrs. Angela D-Suza, CEO </cite>
                            </blockquote>
                        </div>
                    </div>
                    <!-- ./4th Reference from Client -->

                </div>

                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>

        </div>

        <div class="row">
            <h5 class="text-uppercase text-center">Also Worked for</h5>

            <!-- Company Logo with Website LInk -->
            <ul class="text-center">
                <li data-aos="fade-up" data-aos-delay="300"><a href="#0">
                    <img class="img-responsive media-middle" src="images/client/logo1.png" alt="">
                </a></li>
                <li data-aos="fade-up" data-aos-delay="450"><a href="#0">
                    <img class="img-responsive media-middle" src="images/client/logo2.png" alt="">
                </a></li>
                <li data-aos="fade-up" data-aos-delay="600"><a href="#0">
                    <img class="img-responsive media-middle" src="images/client/logo3.png" alt="">
                </a></li>
                <li data-aos="fade-up" data-aos-delay="750"><a href="#0">
                    <img class="img-responsive media-middle" src="images/client/logo4.png" alt="">
                </a></li>
                <li data-aos="fade-up" data-aos-delay="750"><a href="#0">
                    <img class="img-responsive media-middle" src="images/client/logo5.png" alt="">
                </a></li>
            </ul>
            <!-- ./Company Logo with Website LInk -->

        </div>
    </div>

</section>