<!--==========================================
                   EDUCATION
===========================================-->
<section id="education" class="section">
    <h4 class="text-uppercase text-center">Education</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">

                <!-- Timeline -->
                <div class="timeline center-block">
                    <ul>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Master of Computer Science & engineering</h3>
                                </div>

                                <!-- Institution, Period & result -->
                                <p class="sub-heading">Harvard University - United States</p>
                                <p class="sub-heading">January 2012 - December 2015</p>
                                <p class="sub-heading">Result: 4.0 out of 4.0</p>

                                <!-- Education Summary -->
                                <p class="content-p">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Atque, facilis quo. Maiores magnam modi ab libero praesentium
                                    blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                                </p>
                            </div>
                        </li>

                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Bachelor Of Computer Science & Engineering</h3>
                                </div>

                                <!-- Institution, Period & result -->
                                <p class="sub-heading">Harvard University - United States</p>
                                <p class="sub-heading">January 2012 - December 2015</p>
                                <p class="sub-heading">Result: 4.0 out of 4.0</p>

                                <!-- Education Summary -->
                                <p class="content-p">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Atque, facilis quo. Maiores magnam modi ab libero praesentium
                                    blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                                </p>
                            </div>
                        </li>

                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Master of Computer Science & engineering</h3>
                                </div>

                                <!-- Institution, Period & result -->
                                <p class="sub-heading">Harvard University - United States</p>
                                <p class="sub-heading">January 2012 - December 2015</p>
                                <p class="sub-heading">Result: 4.0 out of 4.0</p>

                                <!-- Education Summary -->
                                <p class="content-p">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Atque, facilis quo. Maiores magnam modi ab libero praesentium
                                    blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                                </p>
                            </div>
                        </li>

                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">

                                <!-- Heading -->
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Bachelor Of Computer Science & Engineering</h3>
                                </div>

                                <!-- Institution, Period & result -->
                                <p class="sub-heading">Harvard University - United States</p>
                                <p class="sub-heading">January 2012 - December 2015</p>
                                <p class="sub-heading">Result: 4.0 out of 4.0</p>

                                <!-- Education Summary -->
                                <p class="content-p">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Atque, facilis quo. Maiores magnam modi ab libero praesentium
                                    blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- End of Timeline -->
            </div>
        </div>
    </div>
</section>