<!--==========================================
				   EDUCATION
===========================================-->
<section id="education" class="section">
	<h4 class="text-uppercase text-center">Education</h4>
	<div class="container">
		<div class="row">
			<div class="col col-md-12 col-sm-12 col-xs-12">

				<!-- Timeline -->
				<div class="timeline center-block">
					<ul>

						{% for edu in site.data.education %}

							<li class="card" data-aos="fade-up">
								<i class="title-icon fa fa-circle"></i>
								<div class="timeline-content">

									<!-- Heading -->
									<div class="timeline-header">
										<h3 class="text-capitalize">{{ edu.degree }}</h3>
									</div>

									<!-- Institution, Period & result -->
									<p class="sub-heading">{{ edu.university }}</p>
									<p class="sub-heading">{{ edu.duration }}</p>
									<p class="sub-heading">Result: {{ edu.result }}</p>

									<!-- Education Summary -->
									<p class="content-p">
										{{ edu.desc }}
									</p>
								</div>
							</li>

						{% endfor %}

					</ul>
				</div>
				<!-- End of Timeline -->
			</div>
		</div>
	</div>
</section>