<!-- #home -->
<section id="home" class="layers page-active page_current"> 

	<h2 style="display:none">home</h2>

	<!-- .page_content -->
	<div class="page_content">
		<div class="header">

			<article class="home-page" id="home_style">
				<div class="row">


					<div class="col-md-12 home-profile">
						<div class="home-profile-image"> 
							<img src="images/profile_img.jpg" alt=""> 
						</div>

					</div><div class="col-md-12 home-details">

						<h2 class="name_users">i'm <span class="span_color">{{ site.name }}</span></h2>

						<h3>Hello. I am<span class="rw-words rw-words-1">
								<span>Designer</span>
								<span>Front-end Developer</span>
								<span>programer</span>
								<span>writer</span>
								<span>freelancer</span>
								<span>an inventor</span>
							</span></h3>

						<hr>
						<p class="medium"><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br>
								Etiam eu cursus lectus. In ultrice s leo sed leo bibendum eu interdum urna luctus.</i> </p>

						<ul class="social">
							<li><a href="{{ site.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>


				</div>
			</article>

		</div>
	</div>
	<!-- .page_content -->
</section>
<!-- End #home -->