<!--==========================================
                   INTEREST
===========================================-->
<section id="interest" class="section">
    <h4 class="text-uppercase text-center">Interest</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">
                <div class="card interest">
                    <div class="row">
                        <div class="col col-md-12 col-sm-12 col-xs-12">

                            <!-- Some brief about your interest -->
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin.
                                Vestibulum venenatis pharetrami. Lorem ipsum dolor sit amet.
                            </p>
                        </div>

                        <!-- Interest Topic Icon and Name -->
                        <ul class="col-md-12 col-sm-12 col-xs-12 text-center list-inline">
                            <li class="interest-topic">
                                <i class="ion-ios-film"></i>
                                <span>Documentary</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-compose"></i>
                                <span>Blogging</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-headphone"></i>
                                <span>Music</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-ios-football"></i>
                                <span>Football</span>
                            </li>

                            <li class="interest-topic">
                                <i class="ion-plane"></i>
                                <span>Traveling</span>
                            </li>

                            <li class="interest-topic">
                                <i class="ion-ios-game-controller-b"></i>
                                <span>Gaming</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-ios-camera"></i>
                                <span>Photography</span>
                            </li>
                        </ul>
                        <!-- ./Interest Topic Icon and Name -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>