<!-- Portfolio -->
<section id="section6">
	<div class="container">
		<h2>Portfolio</h2>
		<div class="portfolio-wrapper">
			<div id="portfolio-filters" class="portfolio-filters">
				<button class="button solid-button white-purple small" data-filter="*">Show All</button>
				<button class="button solid-button white-purple small" data-filter=".Web">Web</button>
				<button class="button solid-button white-purple small" data-filter=".Web_Application">Web Applications</button>
			</div>
			<div id="portfolio" class="portfolio">
				{% for portfolio in site.data.portfolio %}
					<div class="item {{ portfolio.category }}">
						<img src="{{ portfolio.banner }}" alt="alt text" class="img-responsive">
						<a href="#{{ portfolio.name | handleize | replace:' ','-' | downcase }}" class="overlay">
							<div class="background"></div>
							<div class="meta">
								<span class="title">{{ portfolio.name }}</span>
								<span class="category">{{ portfolio.category }}</span>
							</div> <!-- end .meta -->
						</a> <!-- end .overlay -->
					</div> <!-- end .item -->
				{% endfor %}
			</div> <!-- end .portfolio -->
			<div class="portfolio-load-more">
				<a href="single-portfolio.html" class="button solid-button white icon-right">Load More Work<i class="md-refresh"></i></a>
			</div> <!-- end .portfolio-load-more -->
		</div> <!-- end .portfolio-wrapper -->
	</div> <!-- end .container -->
</section> <!-- end #section1 -->