<!-- #portfolio -->
<section id="portfolio" class="layers">
	<h2 style="display:none">portfolio</h2>
	<!-- .page_content -->
	<div class="page_content">
		<!-- .portfolios -->
		<div id="portfolios" class="portfolios">

			<!-- .grid-wrap -->
			<div class="grid-wrap">

				<!-- #filters -->
				<ul id="genre-filter" class="clearfix">
					<li class="label_filter">Filter</li>
					<li><span class="filter active" data-filter="logo posters photography webdesign">All</span></li>
					<li><span class="filter" data-filter="logo">Logo</span></li>
					<li><span class="filter" data-filter="posters">Posters</span></li>
					<li><span class="filter" data-filter="photography">Photography</span></li>
					<li><span class="filter" data-filter="webdesign">Webdesign</span></li>
				</ul>
				<!-- /#filters -->

				<!-- #portfolioslist -->  
				<div class="grid" id="portfoliolist">


					<div class="view view-first portfolio posters webdesign" data-cat="posters webdesign">

						<img src="images/portfolio/thumb/portfolio-01-349x232.jpg" alt="img02"/>

						<div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">posters, webdesign</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-01.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="#" class="info external open_port_detail" data-id="1">
									<i class="fa fa-link"></i>
								</a>

							</div>

						</div>

					</div>


					<div class="view view-first portfolio photography" data-cat="photography">

						<img src="images/portfolio/thumb/portfolio-02-349x232.jpg" alt="img02"/>

						<div class="mask" style="background-color: rgba(157, 53, 33, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">Photography</span></p>


							<div class="portf_detail">
								<a href="images/portfolio/portfolio-02.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" data-gal ="portfolio" class="info external"><i class="fa fa-play"></i></a> 

								<a href="#" class="info external open_port_detail" data-id="2">
									<i class="fa fa-link"></i>
								</a>

							</div>

						</div>      

					</div>

					<div class="view view-first portfolio photography posters" data-cat="photography posters">

						<img src="images/portfolio/thumb/portfolio-03-349x232.jpg" alt="img02"/>

						<div class="mask" style="background-color: rgba(107, 190, 190, 0.7);">

							<h4>Project Name</h4>
							<p><span class="cat-portfolio">photography, posters</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-03.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>


								<a href="#" class="info external open_port_detail" data-id="3">
									<i class="fa fa-link"></i>
								</a>

							</div>  

						</div>  

					</div>


					<div class="view view-first portfolio webdesign" data-cat="webdesign">
						<img src="images/portfolio/thumb/portfolio-04-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(252, 110, 81, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">webdesign</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-04.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="http://themeforest.net/?width=800&amp;height=500&amp;iframe=true" data-gal ="portfolio"  class="info external"><i class="fa fa-external-link"></i></a> 


								<a href="#" class="info external open_port_detail" data-id="4">
									<i class="fa fa-link"></i>
								</a>

							</div>

						</div>    
					</div>

					<div class="view view-first portfolio posters" data-cat="posters">
						<img src="images/portfolio/thumb/portfolio-05-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(138, 193, 178, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">posters</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-05.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="http://vimeo.com/7449107" data-gal ="portfolio" class="info external"><i class="fa fa-play"></i></a> 

								<a href="#" class="info external open_port_detail" data-id="5">
									<i class="fa fa-link"></i>
								</a>

							</div>
						</div>  
					</div>

					<div class="view view-first portfolio posters photography" data-cat="posters photography">
						<img src="images/portfolio/thumb/portfolio-06-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(88, 62, 49, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">posters, photography</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-06.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-external-link"></i></a> 


								<a href="#" class="info external open_port_detail" data-id="6">
									<i class="fa fa-link"></i>
								</a>

							</div>
						</div>  
					</div>

					<div class="view view-first portfolio logo webdesign" data-cat="logo webdesign">
						<img src="images/portfolio/thumb/portfolio-07-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(173, 143, 76, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">logo webdesign</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-07.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-external-link"></i></a> 


								<a href="#" class="info external open_port_detail" data-id="7">
									<i class="fa fa-link"></i>
								</a>

							</div>
						</div>    
					</div>

					<div class="view view-first portfolio logo" data-cat="logo">
						<img src="images/portfolio/thumb/portfolio-08-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(241, 196, 15, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">logo</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-08.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i class="fa fa-external-link"></i></a> 

								<a href="#" class="info external open_port_detail" data-id="8">
									<i class="fa fa-link"></i>
								</a>

							</div>
						</div>    
					</div>

					<div class="view view-first portfolio photography" data-cat="photography">
						<img src="images/portfolio/thumb/portfolio-09-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(183, 181, 168, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">photography</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-09.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="#" class="info external open_port_detail" data-id="9">
									<i class="fa fa-link"></i>
								</a>

							</div>
						</div>      
					</div>


					<div class="view view-first portfolio photography webdesign" data-cat="photography webdesign">
						<img src="images/portfolio/thumb/portfolio-10-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(92, 113, 195, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">photography, webdesign</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-10.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="#" class="info external open_port_detail" data-id="10">
									<i class="fa fa-link"></i>
								</a>

							</div>
						</div>      
					</div>


					<div class="view view-first portfolio logo posters" data-cat="logo posters">
						<img src="images/portfolio/thumb/portfolio-11-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(141, 207, 97, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">logo, posters</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-11.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="#" class="info external open_port_detail" data-id="11">
									<i class="fa fa-link"></i>
								</a>

							</div>

						</div>      
					</div>


					<div class="view view-first portfolio photography" data-cat="photography">
						<img src="images/portfolio/thumb/portfolio-12-349x232.jpg" alt="img02"/>
						<div class="mask" style="background-color: rgba(253, 17, 59, 0.7);">
							<h4>Project Name</h4>
							<p><span class="cat-portfolio">Photography</span></p>

							<div class="portf_detail">
								<a href="images/portfolio/portfolio-12.jpg" data-gal ="portfolio" class="info open-imag">
									<i class="fa fa-search"></i>
								</a>

								<a href="#" class="info external open_port_detail" data-id="12">
									<i class="fa fa-link"></i>
								</a>

							</div>
						</div>      
					</div>


				</div><!-- /portfoliolist --> 

			</div><!-- /grid-wrap -->

		</div><!-- /portfolios -->  

	</div>
	<!-- .page_content -->



</section>
<!-- End #portfolio -->