<!-- #portfolio_single -->
<div class="overlay_single_portfolio active">

	<div class="single-portfolio" data-id="1">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>

		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-01.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link hide_prev"><a href="#" data-post="0" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="2" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li> 
					</ul>
				</div>

			</div>

		</div>


	</div>

	<!-- post 2 -->

	<div class="single-portfolio" data-id="1">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-02.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="1" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="3" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li> 
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 2 -->

	<!-- post 3 -->

	<div class="single-portfolio" data-id="3">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-03.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="2" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="4" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 3 -->

	<!-- post 4 -->

	<div class="single-portfolio" data-id="4">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-04.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="3" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="5" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 4 -->

	<!-- post 5 -->

	<div class="single-portfolio" data-id="5">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-05.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

			   <div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="4" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="6" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 5 -->

	<!-- post 6 -->

	<div class="single-portfolio" data-id="6">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-06.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="5" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="7" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 6 -->

	<!-- post 7 -->

	<div class="single-portfolio" data-id="7">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-07.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="6" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="8" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 7 -->

	<!-- post 8 -->

	<div class="single-portfolio" data-id="8">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-08.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="7" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="9" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 8 -->

	<!-- post9 -->

	<div class="single-portfolio" data-id="9">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-09.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="8" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="10" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 9 -->

	<!-- post 10 -->

	<div class="single-portfolio" data-id="10">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-10.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="9" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="11" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 10 -->

	<!-- post 11 -->

	<div class="single-portfolio" data-id="11">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-11.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
  <h2 class="section_title">Project Details</h2>
  <div class="sep2"></div>
</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="10" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link"><a href="#" data-post="12" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li> 
					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 11 -->

	<!-- post 12 -->

	<div class="single-portfolio" data-id="12">
		<div class="fc-page-title-breadcrumbs">

			<div class="fc-page-title">
				<div class="fc-page-title-wrapper">

					<div class="fc-page-title-captions">
						<h1 class="entry-title">Detail Project Title</h1>
					</div>

					<a class="btn_close_port" href="#"><i class="fa fa-close"></i></a>

				</div>
			</div>



		</div>

		<div class="row no-marg">
			<div class="col-md-12 post-image-wrap">
				<img src="images/portfolio/portfolio-12.jpg" alt="" />
			</div>
		</div>


		<div class="content row no-marg">
			<div class="col-md-8 content-split portfolio-split">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Description</h2>
				  <div class="sep2"></div>
				</div>

				<p>Donec porttitor metus non tellus venenatis viverra. Sed sodales dui in dolor imperdiet, vel blandit sapien sagittis. Nulla facilisi. Aliquam at finibus mi, non finibus est. Suspendisse viverra pretium neque ut tempus. Aenean et nulla non felis elementum volutpat non quis risus. Vivamus ac dapibus risus. Donec interdum suscipit elementum. Maecenas nec leo mauris. Proin a ipsum lacus. Aliquam erat volutpat.</p>

				<p>Nunc ac tellus dui. Cras eu consequat eros, at gravida magna. Phasellus pharetra tellus eget quam commodo, ac tincidunt nunc pellentesque. Ut sit amet ultrices libero. Maecenas luctus lorem sit amet lobortis faucibus. Pellentesque molestie urna et arcu aliquet, at sollicitudin nibh dignissim.</p> 

				<p>Sed sit amet mi fermentum, lacinia velit sit amet, blandit risus. Sed efficitur sit amet neque et laoreet. Etiam sed bibendum ipsum, id pellentesque diam.</p>


			</div>

			<div class="col-md-4 sidebar portfolio-sidebar">

				<div class="title-section" style="margin-left: 0;">
				  <h2 class="section_title">Project Details</h2>
				  <div class="sep2"></div>
				</div>

				<div><strong>Date : </strong><span class="project-terms">April 17, 2015</span></div>
				<div><strong>Client : </strong><span class="project-terms">Client Name</span></div>
				<div><strong>Category : </strong><a href="#">Website</a> / <a href="#">Corporate</a></div>
				<div><strong>Skills Used : </strong><a href="#">HTML</a> / <a href="#">Javascript</a></div>
				<div><strong>Client url : </strong><a href="#">http://www.clienturl.com</a></div>



				<hr>

				<div class="portfolio-nav">
					<ul>                                           
						<li class="prev-link"><a href="#" data-post="11" rel="Next" title="next"><i class="fa fa-angle-left icon-single"></i></a></li>
						<li class="all-items"><a href="#" title="All"><i class="fa fa-th-large icon-single"></i></a></li>
						<li class="next-link hide_next"><a href="#" rel="Prev" title="prev"><i class="fa fa-angle-right icon-single"></i></a></li>

					</ul>
				</div>

			</div>

		</div>


	</div>
	<!-- End post 12 -->

</div>  
<!-- End #portfolio_single -->