<!--==========================================
				   PORTFOLIOS
===========================================-->
<section id="portfolios" class="section">
	<h4 class="text-uppercase text-center">Portfolios</h4>
	<div class="container">

		<div class="row">
			<!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
			for an unfiltered gallery and then the values of your categories to filter between them -->
			<ul class="text-center simple-filter" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
				<li class="active-cat" data-filter="all"><a>All</a></li>
				<li data-filter="website"><a>Website</a></li>
			</ul>

			<div class="filtr-container center-block">

				{% assign post_index = 1 %}
				{% for portfolio in site.data.portfolio %}

					<!-- 1st Portfolio, Filter Option -->
					<div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="{{ portfolio.category }}">
						<div class="portfolio card">
							<figure class="hover-effect">
								<!-- Portfolio Image -->
								<img class="img-responsive" src="images/portfolios/{{ portfolio.img }}" alt="">
								<!-- open-modal ID -->
								<a data-toggle="modal" data-target="#modal{{ post_index }}" href="#0">
									<figcaption><span>View Details</span></figcaption>
								</a>
							</figure>
							<!-- Portfolio Title -->
							<h6 class="text-capitalize text-center">{{ portfolio.name }}</h6>
						</div>
					</div>
					<!-- ./Portfolio -->
					<!-- 1st MODAL -->
					<div id="modal{{ post_index }}" class="modal" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg">
							<div class="modal-content animated zoomIn">
								<h3 class="text-capitalize text-left">{{ portfolio.name }}</h3>
								<div class="row">
									<!-- Modal Image -->
									<img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/{{ portfolio.img }}" alt="">

									<!-- Modal Content -->
									<div class="content col-md-4 col-sm-12 col-xs-12">
										<!-- Date, Category & Client Name of the Project -->
										<p><span>Date:&nbsp;</span> {{ portfolio.date }}</p>
										<p><span>Category:&nbsp;</span> {{ portfolio.category }}</p>
										<p><span>Client:&nbsp;</span> {{ portfolio.client }}</p>
										<p><span>Skills Used:&nbsp;</span> {{ portfolio.skillsUsed }}</p>
										<!-- Live Demo Link -->
										<a href="{{ portfolio.clientUrl }}" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
										<!-- Some Information Abut the Project -->
										<p class="text-left">
											{{ portfolio.desc }}
										</p>
										<button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- ./modal -->

					{% assign post_index = post_index | plus: 1 %}
				{% endfor %}

			</div>
		</div>
	</div>
</section>