<!-- #resume -->
<section id="resume" class="layers">
	<h2 style="display:none">resume</h2>
	<!-- page_content -->
	<div class="page_content">
		<!-- .container-fluid -->
		<div class="container-fluid no-marg">
			<!-- .row -->
			<div class="row row_responsive">
				<!-- .section_general -->
				<div class="col-lg-11 section_general">
				
					<header class="section-header">
					<h3 class="section-title">Resume – Personal Info</h3>
					<p>Awesome & Creative Resume For You</p>
					<div class="border-divider"></div>
					</header>
					
					<div class="row section_separate">

						<!-- .resume-left -->
						<div class="col-md-6 resume-left">    

							<div class="title-section">
							<h2 class="section_title">Experience</h2>
							<div class="sep2"></div>
							</div>

							<!-- .attributes -->
							<ul class="attributes">
								{% for exp in site.data.experience %}
									<li class="first">
										<h5>{{ exp.job }} <span class="duration"><i class="fa fa-calendar color"></i> {{ exp.duration }}</span></h5>
										<h6><span class="fa fa-briefcase"></span> {{ exp.company }}</h6>
										<p>{{ exp.desc }}</p>
									</li>
								{% endfor %}
							</ul>
							<!-- /.attributes -->

							<div class="title-section">
							<h2 class="section_title">Education</h2>
							<div class="sep2"></div>
							</div>

							<!-- .attributes -->
							<ul class="attributes">
								{% for edu in site.data.education %}
									<li class="first">
										<h5>{{ edu.degree }} <span class="duration"><i class="fa fa-calendar color"></i> {{ edu.duration }}</span></h5>
										<h6><span class="fa fa-book"></span> {{ edu.university }}</h6>
										<p>{{ edu.desc }}</p>
									</li>
								{% endfor %}
							</ul>
							<!-- /.attributes -->

							<div class="title-section">
							<h2 class="section_title">Awards</h2>
							<div class="sep2"></div>
							</div>

							<!-- .attributes -->
							<ul class="attributes">
								{% for awards in site.data.awards %}
									<li class="first">
										<h5>{{ awards.nominate }} <span class="duration"><i class="fa fa-calendar color"></i> {{ awards.duration }}</span></h5>
										<h6><span class="fa fa-trophy"></span> {{ awards.institution }}</h6>
										<p>{{ awards.desc }}</p>
									</li>
								{% endfor %}
							</ul>
							<!-- /.attributes -->
							
							<!-- .title_content -->
							<div class="title-section">
							<h2 class="section_title">Download my resume</h2>
							<div class="sep2"></div>
							</div>
							<!-- /.title_content -->

							<!-- .download_resume -->
							<a class="download" href="{{ site.resume_hard_copy }}">
								<span data-hover="Download My Resume"><i class="fa fa-cloud-download"></i> Download My Resume</span>
							</a>
							<!-- /.download_resume -->
						</div>
						<!-- /.resume-left -->

						<!-- .resume-right -->
						<div class="col-md-6">

							<div class="title-section">
							<h2 class="section_title">Designs skills</h2>
							<div class="sep2"></div>
							</div>

							<div class="skills">
								{% for designs in site.data.skills.designsSkills %}
									<!-- .skillbar -->
									<div class="skillbar clearfix" data-percent="{{ designs.value }}">
										<div class="skillbar-title"><span>{{ designs.name }}</span></div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent">{{ designs.value }}</div>
									</div>
									<!-- /.skillbar -->
								{% endfor %}
							</div>

							<!-- .title_content -->
							<div class="title-section">
							<h2 class="section_title">Programming skills</h2>
							<div class="sep2"></div>
							</div>
							<!-- /.title_content -->

							<div class="skills">
								{% for programming in site.data.skills.programmingSkills %}
									<!-- .skillbar -->
									<div class="skillbar clearfix" data-percent="{{ programming.value }}">
										<div class="skillbar-title"><span>{{ programming.name }}</span></div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent">{{ programming.value }}</div>
									</div>
									<!-- /.skillbar -->
								{% endfor%}
							</div>

							<!-- .title_content -->
							<div class="title-section">
							<h2 class="section_title">Office skills</h2>
							<div class="sep2"></div>
							</div>
							<!-- /.title_content -->

							<div class="skills">  
								{% for office in site.data.skills.officeSkills %}
									<!-- .skillbar -->
									<div class="skillbar clearfix" data-percent="{{ office.value }}">
										<div class="skillbar-title"><span>{{ office.name }}</span></div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent">{{ office.value }}</div>
									</div>
									<!-- /.skillbar -->
								{% endfor %}
							</div>

							<!-- .title_content -->
							<div class="title-section">
							<h2 class="section_title">Language skills</h2>
							<div class="sep2"></div>
							</div>
							<!-- /.title_content -->

							<div class="skills">
								{% for lang in site.data.skills.languageSkills %}
									<!-- .skillbar -->
									<div class="skillbar clearfix" data-percent="{{ lang.value }}">
										<div class="skillbar-title"><span>{{ lang.name }}</span></div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent">{{ lang.value }}</div>
									</div>
									<!-- /.skillbar -->
								{% endfor %}
							</div>
							
							<!-- .title_content -->
							<div class="title-section">
							<h2 class="section_title">Hobbies and interests</h2>
							<div class="sep2"></div>
							</div>
							<!-- /.title_content -->

							<div class="skills">
								{% for hobin in site.data.skills.hobbiesAndInterest %}
									<!-- .skillbar -->
									<div class="skillbar clearfix" data-percent="{{ hobin.value }}">
										<div class="skillbar-title"><span>{{ hobin.name }}</span></div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent">{{ hobin.value }}</div>
									</div>
									<!-- /.skillbar -->
								{% endfor %}
							</div>

						</div>
						<!-- /.resume-right -->

					</div>  
					<!-- /.end row -->
					
					
					<div class="row no-marg section_separate" style="margin-bottom: 0;">
						<div class="title-section">
							<h2 class="section_title">Client reference</h2>
							<div class="sep2"></div>
						</div>
						
						<div class="col-md-12" style="padding-left:0;padding-right:0">   
							<div class="reference clearfix">  
								<ul>
									{% for client in site.data.clientReference %}
										<li class="clearfix">
											<img src="images/clients/{{ client.avatar }}" class="img_reference" width="100" height="100" alt="">
											<p>“{{ client.testimoni }}”</p>
											<span>{{ client.name }}, <strong>{{ client.position }}</strong></span>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<!-- /.end row -->
				</div>
				<!-- End .section_general -->
			</div>
			<!-- End .row -->
		</div>
		<!-- End .container-fluid -->
	</div>
	<!-- End page_content -->
</section>
<!-- End #resume -->