<!--==========================================
				   SKILLS
===========================================-->
<section id="skills" class="section">
	<h4 class="text-uppercase text-center">Skills</h4>
	<div class="container">
		<div class="row">

			<!-- Programming Skills -->
			<div class="col col-md-4 col-sm-4 col-xs-12">
				<div class="card content-wrapper skill-wrapper">
					<h5 class="text-center skill-title">Programming</h5>

					{% for programming in site.data.skills.programmingSkills %}

						<div class="skill-progress-div">
							<!-- Add Skill -->
							<p>{{ programming.name }}<span>{{ programming.value }}</span></p>
							<!-- Edit Value Here -->
							<div class="progress skill-progress" data-percent="{{ programming.value }}">
								<div class="determinate skill-determinate">
									<i class="skill-determinate-circle fa fa-circle"
									   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
								</div>
							</div>
						</div>

					{% endfor %}

				</div>
			</div>

			<!-- Personal Skills -->
			<div class="col col-md-4 col-sm-4 col-xs-12">
				<div class="card content-wrapper skill-wrapper">
					<h5 class="text-center skill-title">Personal</h5>

					{% for personal in site.data.skills.personalSkills %}

						<div class="skill-progress-div">
							<!-- Add Skill -->
							<p>{{ personal.name }}<span>{{ personal.value }}</span></p>
							<!-- Edit Value Here -->
							<div class="progress skill-progress" data-percent="{{ personal.value }}">
								<div class="determinate skill-determinate">
									<i class="skill-determinate-circle fa fa-circle"
									   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
								</div>
							</div>
						</div>

					{% endfor %}

				</div>
			</div>

			<!-- Language Skills -->
			<div class="col col-md-4 col-sm-4 col-xs-12">
				<div class="card content-wrapper skill-wrapper">
					<h5 class="text-center skill-title">Language</h5>

					{% for lang in site.data.skills.languageSkills %}

						<div class="skill-progress-div">
							<!-- Add Skill -->
							<p>{{ lang.name }}<span>{{ lang.value }}</span></p>
							<!-- Edit Value Here -->
							<div class="progress skill-progress" data-percent="{{ lang.value }}">
								<div class="determinate skill-determinate">
									<i class="skill-determinate-circle fa fa-circle"
									   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
								</div>
							</div>
						</div>

					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</section>