<!--==========================================
				   SKILLS
===========================================-->
<section id="skills" class="section">
	<h4 class="text-uppercase text-center">Skills</h4>
	<div class="container">
		<div class="row">

			<!-- Professional Skills -->
			<div class="col col-md-4 col-sm-4 col-xs-12">
				<div class="card content-wrapper skill-wrapper">
					<h5 class="text-center skill-title">Professional</h5>

					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>UI/UX Design<span>90%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="90%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>

					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>PHP Web Application<span>80%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="80%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Android Development<span>70%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="70%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Adobe Design Tools<span>70%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="70%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Microsoft Office<span>80%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="80%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Personal Skills -->
			<div class="col col-md-4 col-sm-4 col-xs-12">
				<div class="card content-wrapper skill-wrapper">
					<h5 class="text-center skill-title">Personal</h5>

					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Committed<span>100%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="100%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>

					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Punctual<span>90%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="90%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Leadership<span>80%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="80%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Communicative<span>70%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="70%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Analytical Skill<span>80%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="80%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Language Skills -->
			<div class="col col-md-4 col-sm-4 col-xs-12">
				<div class="card content-wrapper skill-wrapper">
					<h5 class="text-center skill-title">Language</h5>

					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>English (Native)<span>100%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="100%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>

					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Spanish<span>90%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="90%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>French<span>80%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="80%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Arabic<span>70%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="70%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
					<div class="skill-progress-div">
						<!-- Add Skill -->
						<p>Hindi<span>60%</span></p>
						<!-- Edit Value Here -->
						<div class="progress skill-progress" data-percent="60%">
							<div class="determinate skill-determinate">
								<i class="skill-determinate-circle fa fa-circle"
								   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>