<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

	{% include head.html %}

	<body>

		<!--==========================================
						 PAGE LOADER
		===========================================-->
		<div id="page-loader">
			<div class="animated bounceInDown">
				<div class="spinner"></div>
			</div>
			<div class="text-div text-center animated zoomIn">
				<p class="text-uppercase">INTRODUCING</p>
				<!-- Name Only -->
				<h6 class="text-uppercase">JOHN ROBERT SMITH</h6>
			</div>
		</div>

		{{ content }}
		
		{% include footer.html %}

		{% include foot.html %}
	</body>
</html>