<div class="block-content t-center block-background-image medium overlay" data-background="assets/img/parallax/5.jpg">
	<div class="block-testi ">
		<!--Container-->
		<div class="container">
			<!--Row-->
			<div class="row">
				<div class="col-md-12">
					<!--Testi thumbs-->
					<div class="testi-thumbs">
						<ul class="thumbs">
							<li><a class="t-active" href="#testi-1"><img src="assets/img/testimonial/1.jpg" alt="" ><span></span></a></li>
							<li><a href="#testi-2"><img src="assets/img/testimonial/2.jpg" alt=""><span></span></a></li>
							<li><a href="#testi-3"><img src="assets/img/testimonial/3.jpg" alt=""><span></span></a></li>
							<li><a href="#testi-4"><img src="assets/img/testimonial/4.jpg" alt=""><span></span></a></li>
							<li><a href="#testi-5"><img src="assets/img/testimonial/5.jpg" alt=""><span></span></a></li>
						</ul>
						<h3 class="white mt-50 mb-20">Peaple appreciate working with difference vCard</h3>
					</div>
					 <!--End testi thumbs-->
			
					<!--Testi details-->
					<div class="testi-details mt-10">
						<!--Testi details single-->
						<div id="testi-1" class="td first">
							<blockquote class="mb-40">Being the richest man in the cemetery doesn't matter to me.
							Going to bed at night saying we've done<br> something wonderful... that's what matters to me</blockquote>
							<h6>Tim Cook</h6>
							<span> CEO and Founder</span>
						</div>
						<!--End testi details single-->

						<!--Testi details single-->
						<div id="testi-2" class="td">
								<blockquote class="mb-40">If you keep your eye on the profit, you’re going to skimp on the product.
									 But if you focus on making<br> really great products, then the profits will follow.</blockquote>
							<h6>Steve Jobs</h6>
							<span> CEO and Founder</span>
						</div>
						<!--End testi details single-->

						<!--Testi details single-->
						<div id="testi-3" class="td">
							<blockquote class="mb-40">Being the richest man in the cemetery doesn't matter to me.
							Going to bed at night saying we've done<br> something wonderful... that's what matters to me</blockquote>
							<h6>Tim Cook</h6>
							<span>CEO and Founder</span>
						</div>
						<!--End testi details single-->

						<!--Testi details single-->
						<div id="testi-4" class="td">
							<blockquote class="mb-40">If you keep your eye on the profit, you’re going to skimp on the product.
							But if you focus on making<br> really great products, then the profits will follow.</blockquote>
							<h6>Steve Jobs</h6>
							<span>CEO and Founder</span>
						</div>
						<!--End testi details single-->

						<!--Testi details single-->
						<div id="testi-5" class="td">
							<blockquote class="mb-40">Being the richest man in the cemetery doesn't matter to me.
							Going to bed at night saying we've done<br> something wonderful... that's what matters to me</blockquote>
							<h6>Tim Cook</h6>
							<span>CEO and Founder</span>
						</div>
						<!--End testi details single-->
					</div>
					<!--End testi details-->
				</div>
			</div>
			<!--End row-->
		</div>
		<!--End container-->
	</div>
</div>