<div class="block-content clearfix  t-center pt-60 pb-60">
	<!--Container-->
	<div class="container ">
		<!--Row-->
		<div class="row">
			<div class="block-client clearfix ">
				<ul id="client-carousel">
					<li><img src="assets/img/logo/l1.png" alt=""></li>
					<li><img src="assets/img/logo/l2.png" alt=""></li>
					<li><img src="assets/img/logo/l3.png" alt=""></li>
					<li><img src="assets/img/logo/l4.png" alt=""></li>
					<li><img src="assets/img/logo/l5.png" alt=""></li>
					<li><img src="assets/img/logo/l6.png" alt=""></li>
					<li><img src="assets/img/logo/l7.png" alt=""></li>
					<li><img src="assets/img/logo/l8.png" alt=""></li>
				</ul>
			</div>
		</div>
		<!--End row-->
	</div>
	<!--End container-->
</div>