<ul class="fact-list">
	<li class="col-sm-3">
		<div class="inner-fact clearfix">
		<span class="ico-fact"><i class="ic-hourglass"></i></span>
		<div class="desc-fact"><span class="count">5</span>Project Finished</div>
		</div>
	</li>
	<li class="col-sm-3">
		<div class="inner-fact clearfix">
		<span class="ico-fact"><i class="ic-trophy"></i></span>
		<div class="desc-fact"><span class="count">320</span>Instagram Selfie</div>
		</div>
	</li>
	<li class="col-sm-3">
		<div class="inner-fact clearfix">
		<span class="ico-fact"><i class="ic-lightbulb"></i></span>
		<div class="desc-fact"><span class="count">5623</span>Coffee Drinked</div>
		</div>
	</li>
	<li class="col-sm-3">
		<div class="inner-fact clearfix">
		<span class="ico-fact"><i class="ic-heart"></i></span>
		<div class="desc-fact"><span class="count">1400</span>Facebook Likes</div>
		</div>
	</li>
</ul>