<div class="col-md-4 col-sm-6 resume-boxe masonry">
	<div class="inner-resume-boxe">
		<div class="block-icon"><i class="ic-telescope"></i></div>
		<div class="block-title">
			<h3 class="title medium">Interests</h3>
		</div>
		<div class="hb-list mt-40 ">
			<ul>
				<li>
					<span><i class="ic-megaphone"></i></span>
					<h6>Music</h6>
				</li>
				<li>
					<span><i class="ic-strategy"></i></span>
					<h6>Gaming</h6>
				</li>
				<li>
					<span><i class="ic-hotairballoon"></i></span>
					<h6>Travel</h6>
				</li>
				<li>
					<span><i class="ic-basket"></i></span>
					<h6>Cooking</h6>
				</li>
			</ul>
		</div>
	</div>
</div>