<div class="block-content mt-100">
	<div class="block-pricing ">
		<!--Container-->
		<div class="container">	
			<!--Row-->
			<div class="row">
				<div class="col-md-12">
					<div class="block-title mb-60">
						<h2 class="title">Packs Pricing</h2>
					</div>
				</div>
			</div>
			<!--End row-->

			<!--Row-->
			<div class="row">
				<div class="block-table clearfix t-center">
					<div class="col-md-3 col-sm-6">
						<div class="table pt-50 pb-40">
							<h6>Starter</h6>
							<div class="block-price mt-50 mb-40">
								<span class="dollar">$</span>
								<span class="price">30</span>
								<span class="per">/mo</span>
							</div>
							<ul>
								<li>Branding</li>
								<li>Logo Design</li>
								<li>Web Design</li>
								<li><span>Web Development</span></li>
								<li><span>Apps Design</span></li>
								<li><span>Apps SDK</span></li>
								<li><span>SEO Optimization</span></li>
							</ul>
							<a class="but brd mt-40 white" href="#">Order Now</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="table pt-50 pb-40">
							<h6>Intermediate</h6>
							<div class="block-price mt-50 mb-40">
								<span class="dollar">$</span>
								<span class="price">60</span>
								<span class="per">/mo</span>
							</div>
							<ul>
								<li>Branding</li>
								<li>Logo Design</li>
								<li>Web Design</li>
								<li>Web Development</li>
								<li><span>Apps Design</span></li>
								<li><span>Apps SDK</span></li>
								<li><span>SEO Optimization</span></li>
							</ul>
							<a class="but brd mt-40 white" href="#">Order Now</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="table pt-50 pb-40">
							<h6>Professional</h6>
							<div class="block-price mt-50 mb-40">
								<span class="dollar">$</span>
								<span class="price">120</span>
								<span class="per">/mo</span>
							</div>
							<ul>
								<li>Branding</li>
								<li>Logo Design</li>
								<li>Web Design</li>
								<li>Web Development</li>
								<li>Apps Design</li>
								<li><span>Apps SDK</span></li>
								<li><span>SEO Optimization</span></li>
							</ul>
							<a class="but brd mt-40 white" href="#">Order Now</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="table pt-50 pb-40">
							<h6>Advanced</h6>
							<div class="block-price mt-50 mb-40">
								<span class="dollar">$</span>
								<span class="price">240</span>
								<span class="per">/mo</span>
							</div>
							<ul>
								<li>Branding</li>
								<li>Logo Design</li>
								<li>Web Design</li>
								<li>Web Development</li>
								<li>Apps Design</li>
								<li>Apps SDK</li>
								<li>SEO Optimization</li>
							</ul>
							<a class="but brd mt-40 white" href="#">Order Now</a>
						</div>
					</div>
				</div>
			</div>
			<!--End row-->
			<!--End row-->
			<div class="row">
				<div class="col-sm-12">
					<div class="block-more-info mt-20">
						<p class="short-email">* For further info or questions, please send me an email at <a href="#">contact@gmail.com</a></p>
					</div>
				</div>
			</div>
			<!--End row-->
		</div>
		<!--End container-->
	</div>
</div>