<div class="block-content bg-grey  pt-100 pb-80">
	<!--Container-->
	<div class="container ">
		<!--Row-->
		<div class="row">
			<div class="col-md-12">
				<div class="block-title mb-60">
					<h2 class="title">Services</h2>
				</div>
			</div>
		</div>
		<!--End row-->
		<!--Row-->
		<div class="row">
			<div class="block-service clearfix">
				<div class="col-sm-4 img">
					<img src="assets/img/img-service.jpg" alt="">
				</div>
				<div class="col-sm-4">
					<ul class="block-list-services mt-60">
						<li class="mb-60 clearfix">
							<div class="serv-ico">
								<span class="ico">
								<i class="ic-shield"></i>
								</span>
							</div>
							
							<div class="serv-det">
								<h5 class="mb-10">Great Support</h5>
								<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
							</div>	
						</li>
						<li class="mb-60 clearfix">
							<div class="serv-ico">
								<span class="ico">
								<i class="ic-hotairballoon"></i>
								</span>
							</div>
							
							<div class="serv-det">
								<h5 class="mb-10">Print &amp; Branding</h5>
								<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
							</div>
						</li>
						<li class=" mb-60 clearfix">
							<div class="serv-ico">
								<span class="ico">
								<i class="ic-megaphone"></i>
								</span>
							</div>
							
							<div class="serv-det">
								<h5 class="mb-10">Marketing</h5>
								<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul class="block-list-services mt-60">
						<li class="mb-60 clearfix">
							<div class="serv-ico">
								<span class="ico">
								<i class="ic-key"></i>
								</span>
							</div>


							<div class="serv-det">
								<h5 class="mb-10">development</h5>
								<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
							</div>
						</li>

						<li class="mb-60 clearfix">
							<div class="serv-ico">
								<span class="ico">
								<i class="ic-lightbulb"></i>
								</span>
							</div>


							<div class="serv-det">
								<h5 class="mb-10">Branding</h5>
								<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
							</div>
						</li>

						<li class=" clearfix">
							<div class="serv-ico">
								<span class="ico">
								<i class="ic-laptop"></i>
								</span>
							</div>


							<div class="serv-det">
								<h5 class="mb-10">Web Design</h5>
								<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
		<!--End row-->
	</div>
	<!--End container-->
</div>